@media (max-width: 428px) {
    .swiper_item {
        width: 320px;
    }
    .swiper_item-body {
        height: 378px;
    }
    .swiper_item_img-body {
        height: 158px;
    }
    .swiper {
        padding: 315px 0 0 20px;
    }
    .swiper_navigation {
        margin: 40px 0;
    }
    .swiper_navigation_arrows-body {
        display: none;
    }
    .swiper_navigation_text-light {
        margin: 0;
        color: #172C48;
    }
    .swiper_navigation-img_body {
        display: block;
    }
    .swiper-pagination {
        left: calc(50% + 40px);
        bottom: 44px;
    }
}