.top_header {
    width: 100%;
    padding: 16px 5px;
}

.header_body {
    width: 1200px;
    margin: 0 auto;
}

.logo_header {
    width: 121px;
}

.logo_heade-img {
    max-width: 100%;
}

.header_nav-paragraph {
    margin: 0 37px 0 0;
    font-size: 16px;
    cursor: pointer;
}

.header_nav-paragraph:last-child {
    margin-right: 0;
}

.header_nav-paragraph-link {
    color: #2783FE;
    text-decoration: none;
}

.lang {
    cursor: pointer;
}

.lang_flag {
    width: 28px;
}

.lang_flag-img {
    max-width: 100%;
}

.lang p {
    font-weight: 700;
    font-size: 16;
    margin: 0 10px 0 0;
}

.arrow_down {
    width: 13px;
    height: 13px;
    margin: 0 0 0 10px;
    border: solid #2783FE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}