.top_header {
    width: 100%;
    padding: 16px 5px;
}

.header_body {
    width: 1220px;
    margin: 0 auto;
}

.logo_header {
    height: 48px;
}

.logo_header-img {
    max-height: 100%;
}

.header_nav-modil {
    display: none;
}

.header_nav-modil_menu {
    display: none;
}

.header_nav-paragraph {
    margin: 0 37px 0 0;
    font-size: 16px;
}

.header_nav-paragraph:last-child {
    margin-right: 0;
}

.header_nav-paragraph-link {
    color: #2783FE;
    text-decoration: none;
}

.lang {
    position: relative;
    cursor: pointer;
}


/* .lang:hover>.lang_dropDown {
    display: block;
} */

.lang_flag {
    width: 28px;
    height: 20px;
}

.lang_flag-img {
    max-height: 100%;
    max-width: 100%;
}

.lang p {
    font-weight: 700;
    font-size: 16px;
    margin: 0 10px 0 0;
}

.arrow_down {
    width: 13px;
    height: 13px;
    margin: 0 0 0 10px;
    border: solid #2783FE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.lang_margin_fix {
    margin: 0 0 10px 0;
}

.lang_dropDown-none {
    display: none;
}

.lang_dropDown-active {
    position: absolute;
    z-index: 1;
    bottom: -67px;
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    font-size: 16;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 2px 29px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(255, 255, 255);
}

.lang_dropDown-active ul {
    position: relative;
    margin: 0;
}

.lang_dropDown-item_ru::before {
    position: absolute;
    right: 0;
    content: '';
    width: 28px;
    height: 20px;
    background: url('/AF.svg');
}

.lang_dropDown-item_en::before {
    position: absolute;
    right: 0;
    content: '';
    width: 28px;
    height: 20px;
    background: url('/EN.svg');
}