.top_header {
    width: 100%;
    padding: 16px 5px;
}

.header_body {
    width: 1220px;
    margin: 0 auto;
}

.logo_header {
    height: 48px;
}

.logo_heade-img {
    max-height: 100%;
}

.header_nav-paragraph {
    margin: 0 37px 0 0;
    font-size: 16px;
}

.header_nav-paragraph:last-child {
    margin-right: 0;
}

.header_nav-paragraph-link {
    color: #2783FE;
    text-decoration: none;
}

.lang {
    position: relative;
    cursor: pointer;
}

.lang:hover > .lang_dropDown{
    display: block;
}

.lang_flag {
    height: 20px;
}

.lang_flag-img {
    max-height: 100%;
}

.lang p {
    font-weight: 700;
    font-size: 16;
    margin: 0 10px 0 0;
}

.arrow_down {
    width: 13px;
    height: 13px;
    margin: 0 0 0 10px;
    border: solid #2783FE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.lang_margin_fix{
    margin: 0 0 10px 0;
}

.lang_dropDown{
    position: absolute;
    z-index: 1;
    bottom: -70px;
    display: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 2px 29px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(255, 255, 255);
}