.helloMain {
    position: relative;
    height: 800px;
}

.background {
    width: 100%;
    height: 100%;
    background-image:  url('/cloud.png'), 
        url('/girl.svg'),
        url('/craftEnvelope.svg'), 
        url('/craftEnvelope2.svg'), 
        url('/balloon.svg'), 
        url('/helloBlock.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 324px, 
        auto, 
        auto,
        auto,
        auto,
        cover;
    background-position: bottom -100px left,  
        calc(50% + 230px), 
        calc(50% + 370px) 99px,
        calc(50% + 460px) 280px,
        calc(50% + 90px) 100px,
        top left;
}

.prise{
    position: absolute;
    z-index: 6;
    top: 7vh;
    right: 21.6vw;
}

.prise2{
    position: absolute;
    z-index: 5;
    top: 29vh;
    right: 17vw;
}

.balloon{
    position: absolute;
    z-index: 5;
    top: 9.5vh;
    right: 27.8vw;
}

.helloBlock {
    margin: -700px auto;
}

.hello_text{
    width: 693px;
    margin: 0 0 27px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hello_checkMark_paragraph{
    margin: 0 0 15px 0;
    font-size: 25px;
    color: #172C48;
}

.checkMark{
    margin: 0 10px 0 0;
    height: 20px;
}

.checkMark-img{
    max-height: 100%;
}

.send-watch{
    width: 752px;
    margin: 75px 0 0 0;
}

.watch_play{
    width: 74px;
}

.watch_play_img{
    max-width: 100%;
    cursor: pointer;
}

.watch_text{
    width: 176px;
    margin: 0 0 0 40px;
}
.watch_text_pharagraph{
    margin: 12px 0 0;
    font-size: 15px;
    font-weight: 400;
    color: #172C48;
}
.watch_text_second-pharagraph{
    margin: 5px 0 0;
    font-size: 13px;
    font-weight: 300;
    color: #516176;
}
/* .circle_small{
    position: absolute;
    left: -120px;
    top: -10px;
    z-index: 9;
    width: 94px;
    height: 94px; 
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 113px;
}
.circle_big{
    position: absolute;
    left: -129px;
    top: -20px;
    z-index: 8;
    width: 113px;
    height: 113px; 
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 113px;
} */

/* .white_shadow{
    position: absolute;
    top: 0;
    z-index: 7;
    left: -120px;
    width: 296px;
    height: 81px;
    background: #FFFFFF;
    filter: blur(12px);
    border-radius: 82px;
} */

.howItWorks{
    margin: 0 auto;
}

.howItWorks_header{
    font-weight: 700;
    font-size: 50px;    
    text-align: center;
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.howItWorks_text{
    position: relative;
    width: 250px;
    margin: 0 0 0 58px;
}
.one::before, .two::before, .three::before, .four::before {
    position: absolute;
    left: -40px;
    top: -30px;
    font-family: 'Neucha', cursive;
    font-weight: 400;
    font-size: 200px;
    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
}
.one::before{
    content: '1';
}
.two::before{
    content: '2';
}
.three::before{
    content: '3';
}

.four::before {
    content: '4';
}

.howItWorks_strong_text{
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    color: #172C48;
}
.howItWorks_light_text{
    margin: 16px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    color: #516176;
}
.howItWorks_item{
    height: 343px;
}
.howItWorks_item-img{
    max-height: 100%;
}
.dots{
    margin: -130px 0 0;
    height: 15px;
}
.dots-img{
    max-height: 100%;
}
.howItWorks_happy_content{
    position: relative;
    margin: 0 0 0 66px;
}
.howItWorks_happy_block{
    margin: 87px 0 0;
}
.howItWorks_happy{
    height: 382px;
}
.howItWorks_happy-img{
    max-height: 100%;
}
.howItWorks_happy_text-strong{
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    color: #172C48;
}
.howItWorks_happy_text-light{
    width: 381px;
    margin: 16px 0 44px;
    font-weight: 400;
    font-size: 18px;
    color: #516176;
}