@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
body {
    margin: 0;
    padding: 0;
    accent-color: #2783FE;
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    width: 20px;
    height: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.DF {
    display: flex;
}

.DN {
    display: none;
}

.AIC {
    align-items: center;
}

.JCSB {
    justify-content: space-between;
}

.JCE {
    justify-content: end;
}

.color_2783FE {
    color: #2783FE;
}

.container {
    width: 1220px;
}

@media (max-width: 428px) {
    .DB {
        display: block;
    }
    .container {
        width: 100%;
        padding: 15px 20px !important;
    }
}